<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <img class="icon" src="/images/Spotify_Icon_RGB_Green.png">
  <nav>
    <ul>
      <li><a href="/">Main</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <div class="wrapper">
    <div class="about-intro">
      <h1 class="title">About</h1>
      <!--Description-->
      <p>This is website is created as a personal project by Dishen Wang.</p>
      <p>Bugs may occur while using the website, feel free to post any issues on github as I greatly appreciate any kind of feedback from the community!</p>
      <p>Using: Spotify Web API</p>
      <p>Version: v0.8</p>
    </div>
  </div>
</body>

</html>